.section-about {
  .section-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    &-left {
      padding: 2rem;
      .section-about-text {
        //About Text
        margin-top: 2rem;
        font-size: 1.2rem;
        text-align: justify;
      }

      .about-text-heading {
        color: var(--white);
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      ul.skill-category {
        width: 100%;
        max-width: 540px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-family: var(--font-mono);
        font-size: 0.85rem;
        padding-left: 1rem;

        li {
          grid-column: auto/ span 1;
          list-style: none;
          line-height: 1.5;
          white-space: nowrap;
          gap: 5px;

          &::before {
            content: "▹";
            color: var(--green);
            margin-right: 2px;
          }
        }
      }
    }
    &-right {
      .image-container {
        width: 18rem;
        height: 18rem;
        position: relative;
        box-shadow: 10px 30px -15px var(--navy-shadow);

        img {
          width: 100%;
          object-fit: cover;
          vertical-align: middle;
          border-radius: 5px;
          aspect-ratio: auto 500 / 500;
          position: relative;
          z-index: -1;
        }

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 2;
          top: 0;
          left: 0;
          border-radius: 5px;
          background-color: var(--green);
          opacity: 0.3;
          mix-blend-mode: color;
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: transparent;
          border: 2px solid var(--green);
          border-radius: 5px;
          top: 1rem;
          left: 1rem;
          z-index: -1;
        }

        &:hover {
          &::after {
            opacity: 0;
            transition: opacity 0.28s linear;
          }
          &::before {
            top: 0.7rem;
            left: 0.7rem;
          }
        }
      }
    }
  }
  // Can be used if Skills are added Category wise
  //   .skill-category {
  //     max-width: 540px;
  //     list-style: none;
  //     display: flex;
  //     flex-wrap: wrap;
  //     li {
  //       color: var(--white);
  //       max-width: 50%;
  //       .skill {
  //         flex-wrap: wrap;
  //         list-style: none;
  //         display: flex;
  //         justify-content: flex-start;
  //         li {
  //           min-width: 50%;
  //           color: var(--slate);
  //           font-family: var(--font-mono);
  //           font-size: 0.8rem;
  //           padding: 0;
  //           &::before {
  //             content: "▹";
  //             color: var(--green);
  //             margin-right: 2px;
  //           }
  //         }
  //       }
  //     }
  //   }
}
