.section-project {
  .projects {
    list-style: none;
    margin: 50px 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    width: 100%;

    .project {
      padding: 2rem 1.75rem;
      border-radius: 5px;
      background-color: var(--light-navy);
      box-shadow: 0 10px 30px -15px var(--navy-shadow);
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      min-height: 300px;
      grid-column: auto / span 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      a {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        color: inherit;
        &:visited {
          color: inherit;
        }
      }

      &-icon-header {
        display: flex;
        justify-content: space-between;

        .folder-icon-container {
          width: 2rem;
          height: 2rem;
          svg {
            color: var(--green);
          }
        }

        .icons-container {
          display: flex;
          gap: 1rem;
        }
      }

      &-heading {
        color: var(--white);
        font-weight: 600;
        margin: 1rem 0;
      }

      &-description {
        line-height: 1.7;
        font-size: 0.85rem;
        height: 100%;
        margin: auto 0;
        flex: 1;
      }

      &-skills-container {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: flex-start;
        gap: 1rem;

        small {
          font-size: 0.7rem;
          font-weight: 100;
          font-family: var(--font-mono);
          line-height: 1.7;
        }
      }

      &:hover {
        box-shadow: 0 20px 30px -15px var(--navy-shadow);
        transform: translateY(-0.3rem) scale(1.03);
        .project-heading {
          color: var(--green);
        }
      }
    }
  }
  .project-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    button {
      text-decoration: none;
      color: var(--green);
      border: 1px solid var(--green);
      padding: 1rem 1.75rem;
      border-radius: 5px;
      font-family: var(--font-mono);
      font-size: 0.85em;
      transition: all 0.3s ease-in-out;
      background: transparent;
      cursor: pointer;
      width: fit-content;

      &:hover {
        background-color: var(--green-tint);
      }
    }
  }
}
