.navbar,
.navbar--hidden {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  backdrop-filter: blur(3px);
  position: relative;
  height: 100px;
  padding: 0 50px;

  .nav-logo {
    width: 42px;
    height: 42px;
    svg {
      width: 100%;
      height: auto;
      fill: var(--green);

      path {
        stroke: var(--green);
      }
      text {
        font-family: var(--font-mono);
      }
    }

    &:hover {
      opacity: 0.5;
      // svg {
      //   fill: var(--green-tint);

      //   path {
      //     stroke: var(--green-tint);
      //   }
      // }
    }
  }

  .navigation-links {
    display: flex;
    font-size: 0.85rem;
    padding: 1rem;
    ul {
      justify-content: right;
      display: flex;
      list-style-type: none;
      counter-reset: li;
      font-family: var(--font-mono);

      li {
        margin-right: 2rem;

        .nav-link {
          text-decoration: none;
          color: var(--white);

          &:hover {
            color: var(--green);
          }
        }

        &:before {
          counter-increment: li;
          content: counter(li, decimal-leading-zero) ".";
          color: var(--green);
          margin-right: 0.25em;
        }
      }
    }

    .resume-button {
      color: var(--green);
      text-decoration: none;
      align-self: center;
      padding: 0.5rem;
      border: 1px solid var(--green);
      border-radius: 5px;

      &:hover {
        background-color: var(--green-tint);
      }
    }
  }
}

.navbar--hidden {
  top: -100px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
