.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  ol {
    display: flex;
    list-style-type: none;
    counter-reset: li;
    li {
      &:before {
        counter-increment: li;
        content: counter(li, decimal-leading-zero);
        color: red;
        margin-right: 0.25em;
      }
    }
  }
}
